body {
    background-image: url(./news.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
#overlay {
    padding-bottom:1%;
    position: relative;
    top: 0;
    bottom: 0;
    background-color: rgba(83, 77, 77, 0.5);
  }